# =====================================================
# Python
# =====================================================

__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/
ENV/

# Environment Variables
.env

# Python cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Bytecode
*.pyc
*.pyo

# =====================================================
# IDE
# =====================================================

.vscode/
.idea/

# =====================================================
# Jupyter
# =====================================================

.ipynb_checkpoints/

# =====================================================
# Logs
# =====================================================

*.log

# =====================================================
# Build Files
# =====================================================

build/
dist/
*.egg-info/

# =====================================================
# Models
# =====================================================

# Ignore only temporary files if needed
# *.tmp

# But keep our trained models
!models/*.pkl

# =====================================================
# Football Dataset
# =====================================================

# Ignore all raw datasets
data/*.csv

# Keep generated clustering result
!data/player_clusters.csv

# =====================================================
# Temporary Files
# =====================================================

tempCodeRunnerFile.py
.DS_Store
Thumbs.db